@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@font-face {
    font-family: minecraftheadfont;
    src: url("../fonts/MinecraftTen-VGORe.ttf");
}
@font-face {
    font-family: hi;
    src: url("../fonts/minecraftheadline.ttf");
}